.pagination-page {
  .ant-pagination {
    @apply mx-auto w-fit;
    .ant-pagination-prev,
    .ant-pagination-next {
      svg {
        @apply text-neutral-50;
        width: 10.5px;
        height: 19px;
      }
    }
    .ant-pagination-item {
      a {
        @apply text-sm-body text-neutral-50 ;
        line-height: 29px;
      }

      width: 29px;
      height: 29px;

      &.ant-pagination-item-active {
        border-radius: 5px;
        border: 2px solid  #ff57c1;
      }
    }

    .ant-pagination-jump-next{
        .ant-pagination-item-ellipsis{
            color: #969A9C !important;
            opacity: 1 !important;
            line-height: 29px;
            padding-top: 7px;
        }
    }
 

    .ant-pagination-options{
        .ant-select-selector{
            padding: 4px 6.5px 5px 5.5px;
            // text-transform: capitalize;
            font-weight: 600 !important;
            // line-height: 16px !important;
            @apply text-xs-body text-neutral-50 bg-neutral capitalize;
          
        }
        .ant-select-arrow{
          display: none;
        }
    }
  }
}
